html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $body-bg;
  display:flex;
  min-height: 100vh;
  align-items: center;

  background-image:
  radial-gradient(circle at 100% 150%, $bg-color-1 24%, $bg-color-2 25%, $bg-color-2 28%, $bg-color-1 29%, $bg-color-1 36%, $bg-color-2 36%, $bg-color-2 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, $bg-color-1 24%, $bg-color-2 25%, $bg-color-2 28%, $bg-color-1 29%, $bg-color-1 36%, $bg-color-2 36%, $bg-color-2 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, $bg-color-2 10%, $bg-color-1 11%, $bg-color-1 23%, $bg-color-2 24%, $bg-color-2 30%, $bg-color-1 31%, $bg-color-1 43%, $bg-color-2 44%, $bg-color-2 50%, $bg-color-1 51%, $bg-color-1 63%, $bg-color-2 64%, $bg-color-2 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%,  $bg-color-2 5%,  $bg-color-1 6%,  $bg-color-1 15%, $bg-color-2 16%, $bg-color-2 20%, $bg-color-1 21%, $bg-color-1 30%, $bg-color-2 31%, $bg-color-2 35%, $bg-color-1 36%, $bg-color-1 45%, $bg-color-2 46%, $bg-color-2 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%,  $bg-color-2 5%,  $bg-color-1 6%,  $bg-color-1 15%, $bg-color-2 16%, $bg-color-2 20%, $bg-color-1 21%, $bg-color-1 30%, $bg-color-2 31%, $bg-color-2 35%, $bg-color-1 36%, $bg-color-1 45%, $bg-color-2 46%, $bg-color-2 49%, transparent 50%, transparent);
  background-size:100px 50px;
}

.voiceinator {
  padding: $small / 2;
  width: $large * 10;
  margin: 0 auto;
  position: relative;
  background: $container-bg;
  overflow: hidden;
  z-index: 1;
  box-shadow:0 0 5px 5px rgba($shadow-dark, 0.1);
  @include border-radius($small / 4);

  h1 {
    width: calc(100% + $small);
    margin: -$small/2 0 $small/2 -$small/2;
    padding: $large / 10;
    background-color: $orange-bg;
    border-bottom: 5px solid $orange-border;
    text-align: center;
    @include text-shadow(3px, 3px, 0, $orange-border);
    @include font-family($headerFont, $large, 100);
  }

  input,
  button,
  select,
  textarea {
    width: 100%;
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 0;
    font-size: $small / 2;
    background: $input-bg;
    outline: 0;
  }

  textarea {
    height: $large * 4;
  }
  .button {
    background: $orange-bg;
    border: 0;
    width: 49%;
    float:left;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0;
    font-size: $small / 2;
    border-bottom: 5px solid $orange-border;
    cursor:pointer;
    position: relative;
  }
  button {
    @extend .button;
    &:active {
    top: 2px;
    }
    &:nth-of-type(1) {
      margin-right: 2%;
    }
  }
  @media (min-width: $breakpoint-tablet) {
    width: 100%;
  }
}
