/* Mixins */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin text-shadow($top, $left, $blur, $color) {
  text-shadow: $top, $left $blur, $color;
}

@mixin font-family($fontFamily, $fontSize, $fontWaight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWaight;
}
